<!DOCTYPE html>
<html lang="en">
<head>


    <meta charset="UTF-8">
    <title>CURRICULUM VITAE </title>

</head>

<body>

<h1 align="center">CURRICULUM VITAE</h1>
<hr style="height:5px;background-color:black">
<img src="{{url_for('static', filename='SM.jpg')}}" Align="right" width="150" height="150">
<h2>SOUVICK MONDAL</h2>

    <h3> Mobile: +91-7278556379, Email Id: souvickmondal05@gmail.com</h3><br>
    <h3>CAREER OBJECTIVE:</h3>
    <hr style="height:5px;background-color:black">
Work for an organization which provides me the opportunity to improve my skills and knowledge to
growth along with organization objective.<br>
<br><h3>EDUCATIONAL QUALIFICATION:</h3>
<hr style="height:5px;background-color:black">
<ul>
    <li> Pursuing Bachelor of Computer Application from <b>Institute of Engineering & Management,kolkata</b> and will be passing out in the year 2021.</li>
    <li> Passed out 12th exam with 66.5% marks from Hare School in the year 2017</li>
    <li>Passed out 10th exam with 79.5% marks from Sailendra Sircar Vidyalaya in the year 2015</li>

</ul>
<br><h3>PROJECTS UNDERTAKEN:</h3>
<hr style="height:5px;background-color:black">
<ul>
    <li>WEB FRAMEWORK BASED FEES PAYMENT MANAGEMENT SYSTEM HOSTED IN APACHE TOMCAT 9.</li>
    <li>Successfully deployed Admission Prediction of a Student using Linear Regression Model in Heroku.(<a href="https://predictadmission1.herokuapp.com/">https://predictadmission1.herokuapp.com/</a>)</li>

</ul>
<br><h3>TECHNICAL SKILL SETS: </h3>
<hr style="height:5px;background-color:black">
<ul>
    <li><b>Programming Languages:</b> C, C++, JAVA (Standard Edition), PYTHON.</li>
    <li><b>Database Management System:</b> SQL (ORACLE).</li>
    <li><b>Concepts:</b>Data Structure, Machine Learning using Python.</li>
</ul>
<br><h3>ACHIEVEMENTS: </h3>
<hr style="height:5px;background-color:black">
<ul>
    <li>Successfully completed ‘Problem Solving Through Programming In C’ and ‘Programming in Java’ courses under NPTEL</li>
    <li>Successfully completed Python for Machine Learning from Greatlearning. </li>
    <li>Successfully completed SQL for Data Science from Coursera.</li>
    <li>Had been an active member in our college’s non-profit organization called ‘SMILE’ since 2019.</li>
</ul>
<br><h3>AREA OF INTEREST:</h3>
<hr style="height:5px;background-color:black">
<b>Foodie,Sports,Volunteer work,Learning about new and upcoming technologies and their implementations.</b>
<br><h3>PERSONAL DETAILS:</h3>
<hr style="height:5px;background-color:black">
<ul>
    <li> Nationality: Indian</li>
    <li>Date of Birth: 7th July, 1999 </li>
    <li> Permanent Address: 20/1 Ramtanu Bose Lane, Kolkata-700006</li>
</ul>

</body>

</html>